.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 320px) {
  .nav {
    display: flex;
  }
}
@media (min-width: 414px) {
  .nav {
    display: flex;
  }
}
.columns__f55Pf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 50px;
}
.columns__f55Pf > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 414px) {
  .columns__f55Pf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 768px) {
  .columns__f55Pf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__f55Pf > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__f55Pf > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__ecFbZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6YxS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img___6YxS > picture > img {
  object-fit: cover;
}
.img___6YxS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___1SoJn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qriAm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: right;
  font-size: 17px;
  min-width: 0;
}
.headline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin-right: 0px;
  min-width: 0;
  padding: 50px 0px 50px 8px;
}
.text__xwFq {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  color: #202428;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.button__lssjD {
  position: relative;
  width: 357px;
  height: 62px;
  margin-bottom: 30px;
  color: #ffffff;
  background: #f35500;
  font-size: 21px;
  font-weight: 700;
  flex-shrink: 0;
  border-radius: 12px;
}
.text__rldet {
  position: relative;
  width: 100%;
  height: auto;
  color: #000000;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.reviews__xo8Z9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.columns___4Ii1B {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  display: none;
  padding: 0px;
}
.columns___4Ii1B > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns___4Ii1B {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns___4Ii1B > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns___4Ii1B > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column___7S1T8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img__iSkvk {
  position: relative;
  object-fit: contain;
  width: 123px;
  height: 19px;
  flex-shrink: 0;
}
.img__iSkvk > picture > img {
  object-fit: contain;
}
.img__iSkvk > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.column__yyHv7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__vlYNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #626262;
  font-size: 18px;
  min-width: 0;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 861px;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  background: #ffffff;
  margin-left: 70px;
  left: auto;
  top: auto;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 30px 50px 0px;
}
.asFeaturedIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__tzMKq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img__tzMKq > picture > img {
  object-fit: cover;
}
.img__tzMKq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___1IB0S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  margin-top: 30px;
  min-width: 0;
}
.link {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.img___0WxWo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img___0WxWo > picture > img {
  object-fit: cover;
}
.img___0WxWo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__k5OLf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__ghp42 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__ghp42 > picture > img {
  object-fit: cover;
}
.img__ghp42 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__m6QH4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__jah0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__jah0 > picture > img {
  object-fit: cover;
}
.img__jah0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jQjzv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__tespt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__tespt > picture > img {
  object-fit: cover;
}
.img__tespt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__zvyH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  padding-left: 0px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.ul__vud {
  display: flex;
  flex-direction: column;
}
.ul__nNv5P {
  display: flex;
  flex-direction: column;
}
.ul__p1U77 {
  display: flex;
  flex-direction: column;
}
.img___4ECxi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img___4ECxi > picture > img {
  object-fit: cover;
}
.img___4ECxi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___5Fd93 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jGwTi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__eyCaK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__eyCaK > picture > img {
  object-fit: cover;
}
.img__eyCaK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___8RmlG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.text__mZnKj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.columns__gpRr7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.columns__gpRr7 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__gpRr7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__gpRr7 > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__gpRr7 > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__gpRr7 > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__hhwnV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button___1KWl5 {
  position: relative;
  width: 100%;
  height: 62px;
  margin-bottom: 0px;
  color: #ffffff;
  background: #f35500;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
.column__ieatA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___67QQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___67QQ > picture > img {
  object-fit: cover;
}
.img___67QQ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__lSb3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___0E4ID {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.img___3JJI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___3JJI > picture > img {
  object-fit: cover;
}
.img___3JJI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qp4Dg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__qp4Dg > picture > img {
  object-fit: cover;
}
.img__qp4Dg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gUJdw {
  position: fixed;
  width: 416px;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin-right: 70px;
  display: none;
  padding: 0px 0px 8px;
}
@media (min-width: 320px) {
  .freeBox__gUJdw {
    display: none;
  }
}
@media (min-width: 414px) {
  .freeBox__gUJdw {
    display: block;
  }
}
.reviewCard:global(.__wab_instance) {
  position: absolute;
  top: auto;
  left: 0px;
  bottom: 5479px;
}
.review2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: auto;
  background: #ffffff;
  bottom: 5092px;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img___9TBkH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img___9TBkH > picture > img {
  object-fit: cover;
}
.img___9TBkH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ii2VN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__rsSYp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__rsSYp > picture > img {
  object-fit: cover;
}
.img__rsSYp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__uy0DZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__yjoZ8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
.review3 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: auto;
  background: #ffffff;
  z-index: 1;
  bottom: 4702px;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.img__kCeNt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.img__kCeNt > picture > img {
  object-fit: cover;
}
.img__kCeNt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__r12Mg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #626262;
  margin-top: 15px;
  min-width: 0;
}
.img__aNxkx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__aNxkx > picture > img {
  object-fit: cover;
}
.img__aNxkx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__cm6VA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 15px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.text__jxXlU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 15px;
  color: #626262;
  font-style: italic;
  min-width: 0;
}
.sideCta:global(.__wab_instance) {
  position: absolute;
  top: auto;
  left: 0px;
  bottom: 4244px;
  z-index: 1;
}
