.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 768px) {
  .body {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.columns__nOsV0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.columns__nOsV0 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__nOsV0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__nOsV0 > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__nOsV0 > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.article {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.articleBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 861px;
  height: auto;
  align-self: flex-start;
  background: #ffffff;
  margin-left: 70px;
  left: auto;
  top: auto;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 30px 50px 0px;
}
.asFeaturedIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__mhNf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img__mhNf > picture > img {
  object-fit: cover;
}
.img__mhNf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__zbhgt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  margin-top: 30px;
  min-width: 0;
}
.link {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.img__zJyj8 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img__zJyj8 > picture > img {
  object-fit: cover;
}
.img__zJyj8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__zbyyq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__aJloq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__aJloq > picture > img {
  object-fit: cover;
}
.img__aJloq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___3BCi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__j8Rs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__j8Rs > picture > img {
  object-fit: cover;
}
.img__j8Rs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0CEqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__r4Vo8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__r4Vo8 > picture > img {
  object-fit: cover;
}
.img__r4Vo8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__qIfFz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  padding-left: 0px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.ul__tGHl {
  display: flex;
  flex-direction: column;
}
.ul__g6MwK {
  display: flex;
  flex-direction: column;
}
.ul__tJas {
  display: flex;
  flex-direction: column;
}
.img__xgNz9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__xgNz9 > picture > img {
  object-fit: cover;
}
.img__xgNz9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___1X2Du {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__jt4Ir {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__dpMz6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__dpMz6 > picture > img {
  object-fit: cover;
}
.img__dpMz6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__axNCu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.text__jks7P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.columns__i8Cp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.columns__i8Cp > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__i8Cp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__i8Cp > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__i8Cp > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__i8Cp > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__aepe3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button {
  position: relative;
  width: 100%;
  height: 62px;
  margin-bottom: 0px;
  color: #ffffff;
  background: #f35500;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
.column__cc2J3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___4Ldwn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___4Ldwn > picture > img {
  object-fit: cover;
}
.img___4Ldwn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___2Smb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5Of3I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.img__mki6C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mki6C > picture > img {
  object-fit: cover;
}
.img__mki6C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__beBwu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__beBwu > picture > img {
  object-fit: cover;
}
.img__beBwu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.reviews {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 416px;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-right: 70px;
  padding: 0px;
}
.reviewCard__gk4En:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.reviewCard__giGlD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.reviewCard__dIell:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.sideCta:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
